@using BlogProjectOnion.Application.Models.VMs;

@model List<CommentVM>



<h3 style="font-size:13px">@Model.Count Yorum</h3>

<!-- COMMENT 1 - START -->
@foreach (var item in Model)
{
    <div class="media">
        <div class="media-body" style="display: flex; align-items: center;">
            @if (item.AppUser.ImagePath == "" || item.AppUser.ImagePath == null)
            {
               <img class="media-object" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
            }
            else
            {
                <img class="media-object" style=" width: 100px;" src="/@item.AppUser.ImagePath" alt="">
            }

            <div style="margin-left: 15px;padding:0px;margin-top:15px ">
                <a href="/Profile/Detail/{@item.AppUser.Id}"> <h4 class="media-heading" style="font-size:15px">@item.AppUser.UserName</h4> </a>
                <p style="margin-top:5px;font-size:13px">@item.Content</p>
            </div>
        </div>
        <div>
            <ul class="list-unstyled list-inline media-detail">
                <li><i class="fa fa-calendar"></i> @item.CreatedDate.ToShortDateString()</li>
                <li style="float: left; margin-right: 15px;"><i class="fa fa-thumbs-up"></i> 0</li>
            </ul>
        </div>
    </div>
}

<style>
    .media-object {
       max-width: 80px !important;
        height:80px;
        border-radius: 15px;
        background-size:contain;
    }

</style>
