<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Clean Blog - Start Bootstrap Theme</title>
    <link rel="icon" type="image/x-icon" href="~/assets/favicon.ico" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>

    @* <link href="~/assets/css/styles.css" rel="stylesheet" /> *@
    <link href="~/css/styles.css" rel="stylesheet" />
    <link href="/css/styles.css" rel="stylesheet" />
    <link href="~/css/register.css" rel="stylesheet" />
    <link href="~/css/comments.css" rel="stylesheet" />

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

</head>
<body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light " id="mainNav">
        <div class="container px-4 px-lg-5">
            <i class="fas fa-cubes fa-2x me-1" style="color: #ff6219;margin-bottom:11px"></i>

            <a class="navbar-brand" href="/Home/Index">BLOG VİSTA</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto py-4 py-lg-0">
                    @if (Context.User.Identity.IsAuthenticated)
                    {

                        @if (Context.User.IsInRole("Author"))
                        {
                            <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="~/Home/Index">Anasayfa</a></li>
                            <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="~/Post/MyPostList">Makalelerim</a></li>
                            <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="~/Post/PostList">Makaleler</a></li>
                            <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="~/Profile/Detail">Profilim</a></li>
                            <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="~/Login/Logout">Çıkış Yap</a></li>

                        }
                        else if (Context.User.IsInRole("User"))
                        {
                            <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="~/Home/Index">Anasayfa</a></li>
                            <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="~/Post/PostList">Makaleler</a></li>
                            <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="~/Profile/Detail">Profilim</a></li>
                            <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="~/Login/Logout">Çıkış Yap</a></li>

                        }
                        else if (Context.User.IsInRole("Admin"))
                        {
                            <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="~/Home/Index">Anasayfa</a></li>
                            <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="~/Admin/Home/Index">Admin Sayfası</a></li>
                            <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="~/Post/MyPostList">Makalelerim</a></li>
                            <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="~/Post/PostList">Makaleler</a></li>
                            <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="~/Login/Logout">Çıkış Yap</a></li>

                        }

                    }
                    else
                    {
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="~/Home/Index">Ana Sayfa</a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="~/Home/About">Hakkımızda</a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="~/Login/Index">Giriş Yap</a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="~/Register/Index">Kayıt Ol</a></li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <!-- Page Header-->
    <div style="margin-top:56px">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <!-- Main Content-->
    <!-- Footer-->
    <footer class="border-top">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">

                    <div class="small text-center text-muted fst-italic">Copyright &copy; Your Website 2023</div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script src="~/assets/js/scripts.js"></script>
    <script src="/js/site.js"></script>
</body>
</html>

<style>
    #mainNav a.navbar-brand,
    #mainNav .navbar-nav .nav-link {
        color: black !important;
    }

    #mainNav .navbar-brand {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* İstediğiniz fontu ekleyin */
        color: #6e4e2e; /* İstediğiniz rengi ekleyin */
        margin-top: -18px; /* İstediğiniz miktarı ekleyin */
        font-size: 40px
    }

    .navbar-nav {
        margin-top: -15px;
    }

    #navbarResponsive {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>