@using BlogProjectOnion.Domain.Entities;

@model List<Post>

<ul class="list-group" id="likedPost">  
    @foreach (var item in Model)
    {
        <li class="list-group-item"><a href="/Post/Index/@item.Id" class="text-decoration-none">@item.Title</a></li>
    } 
</ul>

<style>


    .list-group-item a {
        color: black;
        text-decoration: none; /* Altçizgiyi kaldırır */
        transition: color 0.3s, box-shadow 0.3s; /* Renk ve gölgelendirme değişimlerini yumuşaklaştırır */
        display: block; /* Blok düzen, linkin tam genişliğinde etkileşim sağlar */
        padding: 10px; /* Opsiyonel: Link içeriğine boşluk ekler */
    }

        .list-group-item a:hover {
            color: green;
            box-shadow: 0 0 10px rgba(0, 0, 255, 0.5); /* Mavi gölgelendirme efekti */
        }

</style>