@using BlogProjectOnion.Application.Models.DTOs.AppUserDTOs

@{
    ViewData["Title"] = "UserList";
}


@model List<ResultAppUserDTO>


<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">ÜYELER</h4>
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Üye İşlemleri</div>
                    </div>
                    <div class="card-body">
                        <table class="table mt-4">
                            <thead>
                                <tr>
                                    <th scope="col">Ad Soyad  </th>
                                    <th scope="col">Durumu</th>
                                    <th scope="col">Detaylar</th>
                                    <th scope="col">Sil</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.FirstName  @item.LastName</td>
                                        <td>@GetEnumDescription.Description(item.Status)</td>
                                        <td><a href="/Admin/User/DetailUser/@item.Id" class="btn btn-outline-primary">Detaylar</a></td>
                                        <td><a href="/Admin/User/DeleteUser/@item.Id" class="btn btn-outline-danger">Sil</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <a style="margin-left:10px" href="/Admin/User/DeletedListUser" class="btn btn-outline-danger">Silinen Üyeler</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>