@{
    ViewData["Title"] = "Home Page";
}

<header class="masthead" style="background-image: url('assets/img/home-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1> Hoş Geldiniz!</h1>
                    <span class="subheading">
                        Blog Vista'ya adım attığınız için teşekkür ederiz. Burası, düşüncelerinizi paylaşmak, güncel olaylar hakkında konuşmak ve yeni şeyler öğrenmek için bir alan. Bizimle birlikte bilgiyi kutlayın ve birlikte büyüyelim.
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>