@{
	ViewData["Title"] = "_AdminSidebarPartialView";
}

<div class="sidebar">
	<div class="scrollbar-inner sidebar-wrapper">
		<div class="user">
			<div class="photo">
				<img src="~/Ready-Bootstrap-Dashboard-master/assets/img/profile.jpg">
			</div>
			<div class="info">
				<a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
					<span>
						Eren ÇOLAK
						<span class="user-level">Admin</span>
						<span class="caret"></span>
					</span>
				</a>
				<div class="clearfix"></div>

				<div class="collapse in" id="collapseExample" aria-expanded="true" style="">
					<ul class="nav">
						<li>
							<a href="#profile">
								<span class="link-collapse">Profilim</span>
							</a>
						</li>
						<li>
							<a href="#edit">
								<span class="link-collapse">Profili Düzenle</span>
							</a>
						</li>
						<li>
							<a href="#settings">
								<span class="link-collapse">Ayarlar</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<ul class="nav">
			<li class="nav-item active">
				<a href="/Admin/Post/PostList">
					<i class="la la-dashboard"></i>
					<p>Makale Yönetimi</p>
					<span class="badge badge-count">5</span>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Admin/Genre/Index">
					<i class="la la-table"></i>
					<p>Kategori Yönetimi</p>
					<span class="badge badge-count">14</span>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Admin/Author/AuthorList">
					<i class="la la-keyboard-o"></i>
					<p>Yazar Yönetimi</p>
					<span class="badge badge-count">50</span>
				</a>
			</li>
			<li class="nav-item">
				<a href="tables.html">
					<i class="la la-th"></i>
					<p>Üye Yönetimi</p>
					<span class="badge badge-count">6</span>
				</a>
			</li>
			<li class="nav-item">
				<a href="notifications.html">
					<i class="la la-bell"></i>
					<p>İstatistikler</p>
					<span class="badge badge-success">3</span>
				</a>
			</li>
		</ul>
	</div>
</div>
