
.content-item {
    padding: 30px 0;
    background-color: #FFFFFF;
}

    .content-item.grey {
        background-color: #F0F0F0;
        padding: 50px 0;
        height: 100%;
    }

    .content-item h2 {
        font-weight: 700;
        font-size: 35px;
        line-height: 45px;
        text-transform: uppercase;
        margin: 20px 0;
    }

    .content-item h3 {
        font-weight: 400;
        font-size: 20px;
        color: #555555;
        margin: 10px 0 15px;
        padding: 0;
    }

.content-headline {
    height: 1px;
    text-align: center;
    margin: 20px 0 70px;
}

    .content-headline h2 {
        background-color: #FFFFFF;
        display: inline-block;
        margin: -20px auto 0;
        padding: 0 20px;
    }

.grey .content-headline h2 {
    background-color: #F0F0F0;
}

.content-headline h3 {
    font-size: 14px;
    color: #AAAAAA;
    display: block;
}


#comments {
    box-shadow: 0 -1px 6px 1px rgba(0,0,0,0.1);
    background-color: #FFFFFF;
}

    #comments form {
        margin-bottom: 30px;
    }

    #comments .btn {
        margin-top: 7px;
    }

    #comments form fieldset {
        clear: both;
    }

    #comments form textarea {
        height: 100px;
    }

    #comments .media {
        border-top: 1px dashed #DDDDDD;
        padding: 20px 0;
        margin: 0;
    }

        #comments .media > .pull-left {
            margin-right: 20px;
        }

        #comments .media img {
            max-width: 50px;
        }

        #comments .media h4 {
            margin: 0 0 10px;
        }

            #comments .media h4 span {
                font-size: 14px;
                float: right;
                color: #999999;
            }

        #comments .media p {
            margin-bottom: 15px;
            text-align: justify;
        }

    #comments .media-detail {
        margin: 0;
    }

        #comments .media-detail li {
            color: #AAAAAA;
            font-size: 12px;
            padding-right: 10px;
            font-weight: 600;
        }

        #comments .media-detail a:hover {
            text-decoration: underline;
        }

        #comments .media-detail li:last-child {
            padding-right: 0;
        }

        #comments .media-detail li i {
            color: #666666;
            font-size: 15px;
            margin-right: 10px;
        }





/*.comment-container {
    background-color: #eef2f5;
    width: 400px;
}*/

.addtxt {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 13px;
    width: 350px;
    background-color: #e5e8ed;
    font-weight: 500;
}

.form-control: focus {
    color: #000;
}

.second {
    width: 350px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 10px 10px 5px #aaaaaa;
}

.text1 {
    font-size: 13px;
    font-weight: 500;
    color: #56575b;
}

.text2 {
    font-size: 13px;
    font-weight: 500;
    margin-left: 6px;
    color: #56575b;
}

.text3 {
    font-size: 13px;
    font-weight: 500;
    margin-right: 4px;
    color: #828386;
}

.text3o {
    color: #00a5f4;
}

.text4 {
    font-size: 13px;
    font-weight: 500;
    color: #828386;
}

.text4i {
    color: #00a5f4;
}

.text4o {
    color: white;
}

.thumbup {
    font-size: 13px;
    font-weight: 500;
    margin-right: 5px;
}

.thumbupo {
    color: #17a2b8;
}