@model BlogProjectOnion.Application.Models.DTOs.CommentDTOs.LoginAppUserDTO
@{
    ViewData["Title"] = "Login";
}

<section class="vh-50" style="background-color: #edeff2;">
    <div class="container py-2 h-150">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-9">
                <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none d-md-block">
                            <img src="~/images/loginfoto.jpg" />
                        </div>
                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">

                                <form asp-action="Index">

                                    <div class="d-flex align-items-center mb-3 pb-1">
                                        <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                                        <span class="h1 fw-bold mb-0">Blog Vista</span>
                                    </div>

                                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Hesabınıza Giriş Yapın</h5>

                                    <div class="form-outline mb-4">
                                        <input asp-for="UserName" type="text" id="form2Example17" class="form-control form-control-lg" />
                                        <label asp-for="UserName" class="form-label" for="form2Example17">Kullanıcı Adı</label>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <input asp-for="Password" type="password" id="form2Example27" class="form-control form-control-lg" />
                                        <label asp-for="Password" class="form-label" for="form2Example27">Şifre</label>
                                    </div>
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    @if (!Model.IsEmailConfirmed)
                                    {
                                        <p class="mb-5 pb-lg-2" style="color: #393f81;">
                                            Mail onaylamak için <a class="small text-muted" href="/ConfirmMail/Index/@Model.Id"> BURAYA </a>tıklayınız...
                                        </p>
                                    }
                                    <div class="pt-1 mb-4">
                                        <input type="submit" class="btn btn-dark btn-lg btn-block" value="Giriş" />
                                    </div>
                                    <a class="small text-muted" href="#!">Parolanızı mı unuttunuz?</a>
                                    <p class="mb-5 pb-lg-2" style="color: #393f81;">
                                        Hesabınız yok mu? <a href="/Register/Index"
                                                             style="color: #393f81;">Buradan kaydolun</a>
                                    </p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .col-md-6 img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 1rem 0 0 1rem;
    }
</style>