@model BlogProjectOnion.Application.Models.DTOs.CommentDTOs.LoginAppUserDTO
@{
    ViewData["Title"] = "Login";
    Layout = null;
}
<link href="~/css/styles.css" rel="stylesheet" />
<link href="/css/styles.css" rel="stylesheet" />
<link href="~/css/register.css" rel="stylesheet" />
<link href="~/css/comments.css" rel="stylesheet" />
<link rel="icon" type="image/x-icon" href="~/assets/favicon.ico" />
<script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script src="~/assets/js/scripts.js"></script>
<script src="/js/site.js"></script>

<section class="vh-50" style="background-color: #edeff2;">
    <div class="container py-2 h-150" >
        <div class="row d-flex justify-content-center align-items-center " >
            <div class="col col-xl-9" >
                <div class="card" style="border-radius: 1rem; margin-top:80px;margin-bottom:80px" >
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none d-md-block">
                            <img src="~/images/loginfoto.jpg" />
                        </div>
                        <div class="col-md-6 col-lg-7 d-flex align-items-center" >
                            <div class="card-body p-4 p-lg-5 text-black">

                                <form asp-action="Index">

                                    <div class="d-flex align-items-center mb-3 pb-1">
                                        <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                                        <span class="h1 fw-bold mb-0">Blog Vista</span>
                                    </div>

                                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Hesabınıza Giriş Yapın</h5>

                                    <div class="form-outline mb-4">
                                        <input asp-for="UserName" type="text" id="form2Example17" class="form-control form-control-lg" />
                                        <label asp-for="UserName" class="form-label" for="form2Example17">Kullanıcı Adı</label>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <input asp-for="Password" type="password" id="form2Example27" class="form-control form-control-lg" />
                                        <label asp-for="Password" class="form-label" for="form2Example27">Şifre</label>
                                    </div>
                                    <div class="form-check mb-4">
                                        <input asp-for="RememberMe" class="form-check-input" type="checkbox" id="rememberMe" />
                                        <label class="form-check-label" for="rememberMe">Beni Hatırla</label>
                                    </div>
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    @if (!Model.IsEmailConfirmed)
                                    {
                                        <p class="mb-5 pb-lg-2" style="color: #393f81;">
                                            Mail onaylamak için <a class="small text-muted" href="/ConfirmMail/Index/@Model.Id"> BURAYA </a>tıklayınız...
                                        </p>
                                    }
                                    <div class="pt-1 mb-4">
                                        <input type="submit" class="btn btn-dark btn-lg btn-block" value="Giriş" />
                                    </div>
                                    <a class="small text-muted" href="#!">Parolanızı mı unuttunuz?</a>
                                    <p class="mb-5 pb-lg-2" style="color: #393f81;">
                                        Hesabınız yok mu? <a href="/Register/Index"
                                                             style="color: #393f81;">Buradan kaydolun</a>
                                    </p>
                                </form>
                                <a class="go-to-home" href="/Home/Index">
                                    <i class="fas fa-arrow-circle-up fa-1x"></i>
                                    <span>Ana Sayfaya Git</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .go-to-home {
        position: fixed;
        top: 20px;
        right: 20px;
        background-color: black;
        color: #fff;
        padding: 10px;
        border-radius: 10px;
        cursor: pointer;
        display: flex;
        align-items: center;
        font-size:15px
    }

        .go-to-home span {
            margin-left: 5px;
        }
    .col-md-6 img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 1rem 0 0 1rem;
    }
</style>