@{
    ViewData["Title"] = "PostList";
}

@model List<PostVM>

<div class="content">

    <div class="container-fluid">
        <h4 class="page-title">MAKALELER</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Makale İşlemleri</div>
                    </div>
                    <div class="card-body">
                        <table class="table mt-10">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Makale Başlığı</th>
                                    <th scope="col">Kategorisi</th>
                                    <th scope="col">İçerik</th>
                                    <th scope="col">Güncelle</th>
                                    <th scope="col">Detay</th>
                                    <th scope="col">Sil</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>@item.Title</td>
                                        <td>@item.Genre.Name</td>
                                        <td>@item.SubTitle</td>
                                        <td><a href="/Admin/Post/UpdatePost/@item.Id" class="btn btn-outline-success">Güncelle</a></td>
                                        <td><a href="/Admin/Post/DetailPost/@item.Id" class="btn btn-outline-primary">Detaylar</a></td>
                                        <td><a href="/Admin/Post/DeletePost/@item.Id" class="btn btn-outline-danger">Sil</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <a href="/Admin/Post/AddPost" class="btn btn-outline-primary">Yeni Makale Girişi </a>
                        <a style="margin-left:10px" href="/Admin/Post/DeletedListPost" class="btn btn-outline-danger">Silinen Makaleler</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>